.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
}

.container label {
  display: block;
  margin-bottom: 10px;
}

.container button {
  margin-top: 10px;
}

h2 {
  text-align: center;
}

.black-text {
  color: black;
}

.inline-flex-padded {
  display: flex;
  padding-left: 10px;
}