{% extends 'base.html' %}
{% block title %}Liste des articles{% endblock %}
{% block content %}
<div class="container">
    <h1>Nos articles</h1>
    <!-- <button><a href="{% url 'article_create' %}">Créer un article</a></button>
    <button><a href="{% url 'author_create' %}">Créer un auteur</a></button> -->
    <hr>
    <ul class="articles">
        {% for article in articles %}
        <li class="article">
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <p><strong>{{ article.author }}</strong></p>
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>
{% endblock%}